/* Home Page */
html	{
	height: 100%;
}
img {
	border-radius: 50%;
	width: 220px;
	height: 220px;
	border: 15px solid #88A7BC;
	box-shadow: 5px 10px 10px 0;
	margin: 5px 5px 20px 5px;
}

nav {
	box-shadow: inset 0 0 5px 1px white;
	padding: 5px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
}

header {
	font-family: Roboto;
	font-size: 70px;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	background: -ms-repeating-linear-gradient(240deg, transparent, transparent 5px, 
		transparent 8px, #B8C3C9 8px, #B8C3C9 15px, transparent 30px), 
	-ms-repeating-linear-gradient(150deg, transparent, transparent 3px, #B8C3C9 3px, 
		#B8C3C9 6px), #9DA6AA;
  background: -webkit-repeating-linear-gradient(240deg, transparent, transparent 
  	5px, transparent 8px, #B8C3C9 8px, #B8C3C9 15px, transparent 30px), 
  -webkit-repeating-linear-gradient(150deg, transparent, transparent 3px, 
  	#B8C3C9 3px, #B8C3C9 6px), #9DA6AA;
}

.links {
	display: inline-block;
	text-decoration: none;
	font-size: 40px;
	width: 200px;
	height: 50px;
	margin: 0 5px 0 5px;
	border: 1px solid;
	border-radius: 10px;
	padding: 0 5px 0 5px;
	background-color: #88A7BC;
}

ul {
	list-style: none;
}
 
li {
	display: inline;
}

.btnList {
	text-align: center;
}

.images {
	text-align: center;
}

.weblinks {
  	display: inline-block;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 40px;
	margin: 0 5px 0 5px;
	border: 1px solid;
	border-radius: 10px;
	padding: 0 5px 0 5px;
  background-color: #3059A0;
  color: #ECBA85;
  position: relative;
  margin-bottom: 5vw;
}
.weblinks:visited {
  color: #ab9353;
  border: none;
 outline: none; /*neither of these stop the blue border*/
}
.weblinks:hover {
  background-color: #2A417C;
  color: #97743a; 
  margin-bottom: 5vw;
  z-index: 1;
}
.weblinks:active {
  background-color: #355e3b;
  color: #ab9353;
  text-decoration: none;
}

.weblinks:link i {
  position: absolute;
  left: 40%;
  top: 60%;
  opacity: 0;
  transition: all 1s;
  z-index: 0;
}

.weblinks:hover i {
  postion: absolute;
  left: 25%;
  Top: 100%;
  opacity: 1;
  font-size: 2em;
  z-index: 2;
}


.black {
  color: black;
}

.blue {
  color: #007AB9;
}

.white {
  color: white;
}

.l-blue {
  color: #42C0FB;
}

.grey {
  color: #303C42;
}
